{% extends "backstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}BookStore{% endblock title%}

{% block content%}

<br/>
<div class="container-xl">
  <br/>
  <form method="post" enctype=multipart/form-data action={{ url_for('manager.edit') }}>
    <table class="table table-bordered">
      <tr>
        <th>課程編號</th>
        <td><input class="form-control" type="text" value="{{ data.課程編號 }}" name="pid" readonly class="id_input"></td>
      </tr>
      <tr>
        <th>課程名稱</th>
        <td><input class="form-control" type="text" value="{{ data.課程名稱 }}" name="pname" required></td>
      </tr>
      <tr>
        <th>單價</th>
        <td><input class="form-control" type="text" value="{{ data.單價 }}" name="price" required></td>
      </tr>
      <tr>
        <th>類別</th>
        <td>
          <select class="form-control" name="category">
            {% if data.類別 == 'Strength Training' %}
              <option value="Strength Training" selected>Strength Training</option>
              <option value="Flexibility & Balance">Flexibility & Balance</option>
              <option value="Cardio">Cardio</option>
            {% elif data.類別 == 'Flexibility & Balance' %}
              <option value="Strength Training">Strength Training</option>
              <option value="Flexibility & Balance" selected>Flexibility & Balance</option>
              <option value="Cardio">Cardio</option>
            {% else %}
              <option value="Strength Training">Strength Training</option>
              <option value="Flexibility & Balance">Flexibility & Balance</option>
              <option value="Cardio" selected>Cardio</option>
            {% endif %}
          </select>
        </td>
      </tr>
      <tr>
        <th>課程敘述</th>
        <td>
          <textarea class="form-control" name="description">{{ data.課程敘述 }}</textarea>
        </td>
      </tr>
      <!-- <tr>
        <th>課程圖片</th>
        <td>
          <input type="file" name="file" id="file-uploader" data-target="file-uploader"/>
        </td>
      </tr> -->
    </table>
    <center>
      <div class="option">
        <button class="btn btn-outline-success" type="submit">確定修改</button> 
        <a href="{{ url_for('manager.productManager') }}"><button class="btn btn-outline-danger" type="button">回課程管理</button></a>
      </div>
    </center>
  </form>
</div>

{% endblock content%}
